<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <!-- Unique label -->
    <key>Label</key>
    <string>shadowsocks</string>

    <!-- Command and arguments -->
    <key>ProgramArguments</key>
    <array>
      <string>sslocal</string>
	  <string>-c</string>
      <string>/Users/cse/.config/shadowsocks/config.json</string>
    </array>

    <!-- Run at load -->
    <key>RunAtLoad</key>
    <true/>

    <!-- Logs -->
    <key>StandardOutPath</key>
    <string>/tmp/sslocal.out.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/sslocal.err.log</string>
  </dict>
</plist>
